name: Ubuntu Latest
on: push

jobs:
  buildOnUbuntu:
    runs-on: ubuntu-latest

    steps:
    - name: checkout sources
      uses: actions/checkout@v4

    - name: Install Dependencies
      shell: bash
      run: |
        apt-get update && apt-get install -y sudo p7zip-full wget file libwayland-cursor0 libwayland-egl1 
        sudo ln -fs /usr/share/zoneinfo/UTC /etc/localtime
        sudo DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends software-properties-common

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.10'
        arch: 'linux_gcc_64'
        extra: '--external 7z'
        modules: 'qtimageformats qtwaylandcompositor'

    - name: Build Laigter
      shell: bash
      run: |
        echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        qmake CONFIG+=release PREFIX=/usr
        make -j$(nproc)
        make INSTALL_ROOT=appdir install
        find appdir/
        mkdir -p appdir/usr/lib
        export APPIMAGE_EXTRACT_AND_RUN=1
        export EXTRA_QT_MODULES="waylandcompositor"
        wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
        if [[ "$RELEASE_VERSION" != "" ]]; then export VERSION=$RELEASE_VERSION;fi
        chmod a+x linuxdeployqt-continuous-x86_64.AppImage
        ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/*.desktop -exclude-libs=libwayland-client.so.0 -extra-plugins=imageformats,platforms/libqwayland-generic.so,platforms/libqwayland-egl.so,wayland-graphics-integration-client,wayland-decoration-client,wayland-shell-integration -appimage

    - name: upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: test-artifact
        path: Laigter-x86_64.AppImage 

    - name: GitHub Releases
      uses: fnkr/github-action-ghr@v1.3
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GHR_PATH: Laigter-x86_64.AppImage
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

