
name: Windows
on: push

jobs:
  buildWin:
    runs-on: windows-latest
    steps:
    
    - name: checkout sources
      uses: actions/checkout@v4
      
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        aqtversion: '==3.1.*'
        version: '6.2.0'
        arch: 'win64_mingw81'
        extra: '--external 7z'
        target: 'desktop'
        host: 'windows'
        modules: 'qtimageformats'
        
    - name: Build Laigter
      shell: cmd
      run: |
        dir %QT_ROOT_DIR%\..
        dir %QT_ROOT_DIR%
        qmake
        make
        dir
        mkdir \laigter-windows
        windeployqt --compiler-runtime --dir .\laigter-windows .\release\laigter.exe
        copy /Y .\release\laigter.exe .\laigter-windows\laigter.exe
        for /f "usebackq" %%i in (`where libgomp-1.dll`) do copy "%%i" .\laigter-windows\
        for /f "usebackq" %%i in (`where libwinpthread-1.dll`) do copy "%%i" .\laigter-windows\
        where libmcfgthread-1.dll
        tar.exe -a -c -f laigter-windows.zip laigter-windows
  
    - name: upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: win-artifacts
        path: laigter-windows.zip 

    - name: GitHub Releases
      uses: svenstaro/upload-release-action@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: laigter-windows.zip
        tag: ${{ github.ref }}
    
